<ion-view id="confirm-password-view">
    <ion-content>
      <nav>
        <button ui-sref="settings" id="confirm-password-view__back-btn" class="back-btn"><</button>
        <div class="nav-top-heading">Confirm Password</div>
      </nav>

      <div id="confirm-password-warning">
        Your email address is user to log in to <br>Snapchap<br> and for password recovery.
      </div>
      <input id="confirm-password-input" type="password" name="password" placeholder="Confirm Password" ng-model="password" ng-keyup="stuff(password)"/>

      <button id="confirm-password-continue-button" type="button" name="button" ng-show="continueButton" ng-click="confirmPassword(password)">Continue</button>

    </ion-content>
</ion-view>
