<ion-view title="Chat" id="page2">
    <ion-content padding="true" class="has-header">
        <form id="chat-form1" class="list">
            <label class="item item-input" id="chat-input1">
                <input type="text" placeholder="Search">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 365px;"></div>
        <div id="chat-button-bar3" class="button-bar">
            <button id="chat-button12" class="button button-light  button-block icon-right ion-chatbubble"></button>
            <a ui-sref="camera" id="chat-button13" class="button button-light button-large button-block icon ion-ios-circle-outline"></a>
            <button id="chat-button14" style="text-align:right;" class="button button-light  button-block"></button>
        </div>
    </ion-content>
</ion-view>