<ion-view title="My Friends" id="my-friends-view">

    <ion-content>

        <nav>
          <button ui-sref="profile" id="my-friends-view_back-btn" class="back-btn"><</button>
          FRIENDS
        </nav>

        <form>
            <span class="magnifying-glass"></span>
            <input type="text" placeholder="Search">
        </form>

        <p class="heading">BEST FRIENDS</p>
        <ul>
          <li>Best Friends</li>
        </ul>

        <p class="heading">MY FRIENDS</p>
        <ul ng-repeat="friend in friends">
          <li>{{friend.username}}</li>
        </ul>

    </ion-content>
</ion-view>
