#my-friends-view nav {
  color: #9A3497;
  font-size: 0.7rem;
  text-align: center;
  padding: 18px;
  margin-top: 10px;
  background-color: #fff;
}
#my-friends-view .heading {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 100vw;
  height: 40px;
  color: #9A3497;
}
#my-friends-view ul {
  margin-left: 9px;
  font-size: 1rem;
}
#my-friends-view li {
  color: black;
  padding: 13px 9px;
  border-bottom: thin solid lightgray;
  position: relative;
  left: 55px;
}
#my-friends-view li:before {
  content: '';
  height: 50px;
  width: 50px;
  position: absolute;
  left: -55px;
  top: 0px;
  background-image: url('../../../img/icon/ghost.png');
  -webkit-background-size: 50px;
          background-size: 50px;
}
#my-friends-view_back-btn {
  font-size: 1.7rem;
  color: #9A3497;
  left: 15px;
  top: 8px;
}


#my-friends-view form {
  position: relative;
  border-top: thin solid lightgray;
  border-bottom: thin solid lightgray;
}
#my-friends-view input {
  position: relative;
  width: 100vw;
  left: 34px;
}
