<ion-view title="Profile" id="profile-view">

    <ion-content>
        <nav id="profile-view__nav-top" class="nav-top">
            <button id="profile-view__share-btn" class="icon-btn"></button>
            <button id="profile-view__trophy-btn" class="icon-btn"></button>
            <button id="profile-view__settings-btn" class="icon-btn" ui-sref="settings" ng-click="hideMenu()"></button>
        </nav>
        <div id="profile-view__main-content">
          <div id="snap-confetti"><span></span></div>
          <p id="profile-view__display-name" class="profile-view__display-name">{{userInfo.first_name}} {{userInfo.last_name}}</p>
          <p id="profile-view__username" class="profile-view__username">username: {{userInfo.username}}</p>

          <div ui-sref="addedMe" id="profile-view__added-me-btn" class="profile-view__main-content-btn">Added Me</div>
          <div ui-sref="addFriends" id="profile-view__add-friends-btn" class="profile-view__main-content-btn" >Add Friends</div>
          <div ui-sref="myFriends" id="profile-view__my-friends-btn" class="profile-view__main-content-btn" >My Friends</div>
          <!-- <div ui-sref="camera" id="profile-view__camera-btn" class="profile-view__main-content-btn"></div> -->
        </div>

    </ion-content>
</ion-view>
