<ion-view title="Added Me" id="added-me-view">

    <ion-content>

      <nav>
        <button ui-sref="profile" id="added-me-view_back-btn" class="back-btn" ng-click="showMenu()"><</button>
        Added Me
      </nav>

      <ul ng-repeat="item in pendingFriendRequests">
        <li>
          <p class="added-me-view__display-name">{{item.first_name}} {{item.last_name}}</p>
          <p class="added-me-view__username">{{item.username}}</p>
          <button class="pill-btn added-me-view__add-btn" ng-click="respondToFriendRequest(item.id)"><span class="added-me-view__add-btn__plus">Add</span></button>
        </li>
      </ul>
      <!-- <ul ng-repeat="requester in requesters">
        <li>{{requester.display_name}}</li>
        <li>{{requester.username}}</li>
      </ul> -->

    </ion-content>

</ion-view>
