<!-- <nav id="index-html__nav-bottom" class="nav-bottom">
  <button id="index-html__chat-btn" class="icon-btn" ui-sref="chat" ui-sref-active="active-state" animate-chatty-nav="" ng-click="addChattyNav()"></button>
  <button id="index-html__take-photo-btn" class="icon-btn" ui-sref="camera" ui-sref-active="active-state" ng-click="takePhoto(); removeChattyNav(); removeProfileNav()" animate-chatty-nav="" animate-profile-nav=""></button>
  <button id="index-html__dots-btn" class="icon-btn" ui-sref-active="active-state"></button>
</nav> -->
