/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  TOP NAV
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#chat-view__nav-top {
  background-color: RGBA(60, 178, 226, 1.00);
}
<<<<<<< HEAD
/*#chat-view__nav-bottom {
  top: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}*/

=======
 /* Flash button */
>>>>>>> master
#chat-view__flash-btn {
  background-image: url('../../../img/icon/chat-white.png');
}
 /* Profile button */
#chat-view__profile-btn {
  background-image: url('../../../img/icon/snapchat-white.png');
}
 /* Camera view button */
#chat-view__camera-btn {
  background-image: url('../../../img/icon/camera-white.png');
}

<<<<<<< HEAD
/*#chat-view__chat-btn {
=======

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  MAIN CONTENT
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#chat-view__main-content {
  height: calc(100vh - 60px);
  position: relative;
  top: 60px;
}
#chat-view__input {
  width: 100%;
}





/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  BOTTOM NAV (now resides in mainCtrl and main.css)
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*#chat-view__nav-bottom {
  top: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#chat-view__chat-btn {
>>>>>>> master
  background-image: url('../../../img/icon/chat-gray.png');
  position: relative;
}
#chat-view__take-photo-btn {
  background-image: url('../../../img/icon/circle-gray-big.png');
  width: 50px;
  height: 50px;
  position: relative;
  margin: 0 31px;
  -webkit-background-size: 50px;
          background-size: 50px;
}
#chat-view__dots-btn {
  background-image: url('../../../img/icon/dots-gray.png');
  position: relative;
}*/
