<ion-view title="Chat" id="chat-view">
    <ion-content>

      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>
        TOP NAV
          Top nav is 60px high and absolute-positioned
          animateProfileNav directive alters bottom nav on view change
          removeChattyNav is a fn in the animateProfileNav directive
      <~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <nav id="chat-view__nav-top" class="nav-top">
          <button id="chat-view__flash-btn" class="icon-btn"></button>
          <!-- <button id="chat-view__profile-btn" class="icon-btn" ui-sref="profile"></button> -->
          <div class="nav-top-heading">Chat</div>
          <button id="chat-view__camera-btn" class="icon-btn" ui-sref="camera" animate-chatty-nav ng-click="removeChattyNav()"></button>
      </nav>

      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>
        MAIN CONTENT
          Main content is height of screen minus 60px and positioned below top nav
      <~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <div id="chat-view__main-content">
        <form>
            <label>
                <input id="chat-view__input" type="text" placeholder="Search">
            </label>
        </form>

        <ul>
          <li ng-repeat="pendingMessage in pendingMessages" ng-click="getMessage(pendingMessage.id)">
            {{pendingMessage.first_name}} {{pendingMessage.last_name}}
          </li>
        </ul>

        <canvas id="message-canvas" width="50" height="66"></canvas>

      </div>

      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>
        BOTTOM NAV
      <~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <!-- <nav id="chat-view__nav-bottom" class="nav-bottom">
          <button id="chat-view__chat-btn" class="icon-btn"></button>
          <button id="chat-view__take-photo-btn" class="icon-btn" ui-sref="camera"></button>
          <button id="chat-view__dots-btn" class="icon-btn"></button>
      </nav> -->
</ion-view>
