<ion-view title="Chat" id="chat-view">
    <ion-content>
      <nav id="chat-view__nav-top" class="nav-top">
          <button id="chat-view__flash-btn" class="icon-btn"></button>
          <!-- <button id="chat-view__profile-btn" class="icon-btn" ui-sref="profile"></button> -->
          <div class="nav-top-heading">Chat</div>
          <button id="chat-view__camera-btn" class="icon-btn" ui-sref="camera" animate-chatty-nav ng-click="removeChattyNav()"></button>
      </nav>
      <form>
          <label>
              <input type="text" placeholder="Search">
          </label>
      </form>


      <!-- <nav id="chat-view__nav-bottom" class="nav-bottom">
          <button id="chat-view__chat-btn" class="icon-btn"></button>
          <button id="chat-view__take-photo-btn" class="icon-btn" ui-sref="camera"></button>
          <button id="chat-view__dots-btn" class="icon-btn"></button>
      </nav> -->


    </ion-content>
</ion-view>
