<ion-view title="Log In" id="page14">
    <ion-content padding="true" class="has-header">
        <h5 id="logIn-heading2" style="color:#888888;font-weight:400;">USERNAME OR EMAIL</h5>
        <form id="logIn-form3" class="list">
            <label class="item item-input" id="logIn-input3">
                <input type="text" placeholder="">
            </label>
            <h5 id="logIn-heading3" style="color:#888888;font-weight:400;">PASSWORD</h5>
            <label class="item item-input" id="logIn-input4">
                <input type="text" placeholder="">
            </label>
        </form>
        <div id="logIn-markdown11" style="color:#2E8BC7;font-size:11px;text-align:center;">
            <p>Forgot your password?</p>
        </div>
        <button id="logIn-button33" style="border-radius:30px 30px 30px 30px;" class="button button-dark  button-block">Log In</button>
    </ion-content>
</ion-view>