<ion-view title="Edit Message" id="edit-message-view" has-bouncing="false" can-swipe-back="false">
  <ion-content id="edit-message-view__content" has-bouncing="false" ng-init="load()" on-swipe-left="geofilterMovesTo('left')" on-swipe-right="geofilterMovesTo('right')">

    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>
      TOP NAV
    <~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <nav id="edit-message-view__nav-top" class="nav-top">
        <button id="edit-message-view__x-btn" class="icon-btn" ui-sref="camera" ng-click="showMenu()"></button>

        <div id="edit-message-view__edit-btns">
          <button id="edit-message-view__rewind-btn" class="icon-btn" ng-click="clearCanvas()"></button>
          <button id="edit-message-view__undo-btn" class="icon-btn" ng-click="clearDrawing()"></button>
          <div id="edit-message-view__save-drawing" class="icon-btn" ng-click="saveDrawing()"></div>
          <div id="edit-message-view__pen-size-btn" class="icon-btn" ng-click="togglePenSize()"></div>
          <button id="edit-message-view__pen-btn" class="icon-btn" ng-click="toggleColorPicker()"></button>
        </div>
    </nav>


    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>
      DRAWING CANVAS
    <~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div class="canvas-container">
      <!-- canvas -->
      <canvas id="canvas" ng-click="toggleTextBar()"></canvas>
      <!-- color picker -->
      <div id="color-picker">
        <div class="color black"></div>
        <div class="color gray"></div>
        <div class="color lightgray"></div>
        <div class="color white"></div>
        <div class="color violet"></div>
        <div class="color purple"></div>
        <div class="color midnightblue"></div>
        <div class="color blue"></div>
        <div class="color lightskyblue"></div>
        <div class="color green"></div>
        <div class="color lightgreen"></div>
        <div class="color lightgoldenrodyellow"></div>
        <div class="color yellow"></div>
        <div class="color orange"></div>
        <div class="color red"></div>
        <div class="color saddlebrown"></div>
      </div>
      <!-- <div class="color alpha"></div> -->
    </div>

    <!-- $scope.snap is normally hidden; display only for testing purposes-->
    <!-- <div class="scope-snap-container">
      <img id="scope-snap" ng-src="{{snap}}">
    </div> -->

    <!-- test buttons -->
    <div class="buttons">
      <button type="button" ng-click="saveGeofilter()">Save Geofilter</button>
      <!-- <button type="button" ng-click="saveCanvas()">Send</button> -->
      <!-- <button type="button" ng-click="clearDrawing()">Clear Drawing</button> -->
      <!-- <button type="button" ng-click="clearCanvas()">Clear Canvas</button> -->
      <!-- <button type="button" ng-click="overlayText();">Overlay Text</button> -->
    </div>






    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>
      BOTTOM NAV
    <~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <nav id="edit-message-view__nav-bottom" class="nav-bottom">
        <div id="edit-message-view__left-btns">
          <button id="edit-message-view__timer-btn" class="icon-btn"></button>
          <button id="edit-message-view__save-btn" class="icon-btn" ng-click="saveImage2Device()"></button>
        </div>
        <button id="edit-message-view__arrow-btn" class="icon-btn" ng-click="saveImage()"></button>
    </nav>

  </ion-content>



  <!-- The following fixed elements are placed outside the ion-content -->
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>
    TEXT INPUT BAR
  <~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <form id="edit-message-view__form" ng-submit="overlayText(); toggleTextBar()">
    <input id="edit-message-view__input" type="text" autocomplete="off"/>
  </form>

  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>
    GEOFILTERS
  <~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <section on-swipe-left="geofiltersMoveTo('left')" on-swipe-right="geofilterMovesTo('right')">

    <div id="geofilter1-container" class="geofilter-container left" data-left="0.5" data-top="0.7">
      <img id="geofilter1" ng-src="./img/chap.png">
      <!-- <img id="geofilter1" ng-src="./img/rr2.jpg"> -->
    </div>

    <!-- <div id="geofilter2-container" class="geofilter-container right" data-left="0.5" data-top="0.5">
      <img id="geofilter2" ng-src="./img/snap-confetti2.png">
    </div> -->

</section>

</ion-view>
