<ion-view title="Edit Message" id="edit-message-view">
  <ion-content id="edit-message-view__content">

    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>
      TOP NAV
    <~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <nav id="edit-message-view__nav-top" class="nav-top">
        <button id="edit-message-view__x-btn" class="icon-btn" ui-sref="camera" ng-click="showMenu()"></button>

        <div id="edit-message-view__edit-btns">
          <button id="edit-message-view__text-btn" class="icon-btn"></button>
          <button id="edit-message-view__pencil-btn" class="icon-btn"></button>
        </div>
    </nav>

    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>
      IMAGE
    <~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div id="edit-message-view__image-container">
      <form id="edit-message-view__form" ng-submit="createOverlay(); toggleTextBar()">
        <input id="edit-message-view__input" type="text" autocomplete="off"/>
      </form>
      <img id="edit-message-view__image" ng-src="{{image}}" ng-click="toggleTextBar()"></img>
      <!-- <img id="edit-message-view__image" ng-src="{{rr}}" ng-click="toggleTextBar()"></img> -->
      <!-- <img id="edit-message-view__image" ng-src="{{imgURI}}" ng-click="toggleTextBar()"></img> -->
    </div>

    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>
      BOTTOM NAV
    <~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <nav id="edit-message-view__nav-bottom" class="nav-bottom">
        <div id="edit-message-view__left-btns">
          <button id="edit-message-view__timer-btn" class="icon-btn"></button>
          <button id="edit-message-view__save-btn" class="icon-btn" ng-click="saveImage2Device()"></button>
        </div>
        <button id="edit-message-view__arrow-btn" class="icon-btn" ui-sref="sendTo""></button>
    </nav>

  </ion-content>
  <canvas id="msgCanvas"></canvas>

</ion-view>
