<ion-view title="Camera" hide-nav-bar="true" id="camera-view">
    <ion-content >
        <nav id="camera-view__nav-top">
            <button id="camera-view__flash-btn"></button>
            <button id="camera-view__profile-btn" ui-sref="profile"></button>
            <button id="camera-view__switch-camera-btn"></button>
        </nav>


        <nav id="camera-view__nav-bottom">
            <button id="camera-view__chat-btn" ui-sref="chat"></button>
            <button id="camera-view__take-photo-btn"></button>
            <button id="camera-view__dots-btn"></button>
        </nav>
    </ion-content>
</ion-view>
