<ion-view title="Settings" id="settings-view">
    <ion-content>
      <nav>
        <button ui-sref="profile" id="settings-view_back-btn" class="back-btn"><</button>
        Settings
      </nav>

        <p class="heading">MY ACCOUNT</p>    <ul>
        <li>Name<button ui-sref="name" class="forward-btn">></button></li>
        <li>Username<button ui-sref="username" class="forward-btn">></button></li>
        <li>Birthday<button ui-sref="birthday" class="forward-btn">></button></li>
        <li style="color:gray">Mobile Number</li>
        <li>Email<button ui-sref="birthday" class="forward-btn">></button></li>
        <li style="color:gray">Bitmoji</li>
        <li>Password<button ui-sref="birthday" class="forward-btn">></button></li>
        <li style="color:gray">Login Verification</li>
        <li style="color:gray">Notifications</li>
        <li style="color:gray">Snapcash</li>
        <li style="color:gray">Memories</li>
      </ul>

      <p class="heading">ADDITIONAL SERVICES</p>
      <ul>
        <li style="color:gray">Manage Preferences</li>
      </ul>

      <p class="heading">WHO CAN…</p>
      <ul>
        <li style="color:gray">Contact Me</li>
        <li style="color:gray">View My Story</li>
        <li style="color:gray">See Me in Quick Add</li>
      </ul>

      <p class="heading">MORE INFORMATION</p>
      <ul>
        <li style="color:gray">Support</li>
        <li style="color:gray">Privacy Policy</li>
        <li style="color:gray">Terms of Service</li>
        <li style="color:gray">Licenses</li>
      </ul>

      <p class="heading">ACCOUNT ACTIONS</p>
      <ul>
        <li style="color:gray">Clear Cache</li>
        <li style="color:gray">Clear Conversations</li>
        <li style="color:gray">Restore Purchases</li>
        <li style="color:gray">Blocked</li>
        <li>Log Out<button ui-sref="birthday" class="forward-btn">></button></li>
      </ul>
    </ion-content>
</ion-view>
