<ion-view title="Settings" id="settings-view">
    <ion-content>
      <nav>
        <button ui-sref="profile" ng-click="showMenu()" id="settings-view__back-btn" class="back-btn"><</button>
        <div class="nav-top-heading">Settings</div>
      </nav>

      <span class="heading">MY ACCOUNT</span>
      <ul>
        <li ui-sref="name">Name {{userInfo.first_name}} {{userInfo.last_name}}<button class="forward-btn">></button></li>
        <li style="color:gray">Username {{userInfo.username}}</button></li>
        <li ui-sref="birthday">Birthday<button class="forward-btn">></button></li>
        <li style="color:gray">Mobile Number</li>
        <li ui-sref="email">Email {{userInfo.email}} <button class="forward-btn">></button></li>
        <li style="color:gray">Bitmoji</li>
        <li ui-sref="password">Password<button class="forward-btn">></button></li>
        <li style="color:gray">Login Verification</li>
        <li style="color:gray">Notifications</li>
        <li style="color:gray">Snapcash</li>
        <li style="color:gray">Memories</li>
      </ul>

      <span class="heading">ADDITIONAL SERVICES</span>
      <ul>
        <li style="color:gray">Manage Preferences</li>
      </ul>

      <span class="heading">WHO CAN…</span>
      <ul>
        <li style="color:gray">Contact Me</li>
        <li style="color:gray">View My Story</li>
        <li style="color:gray">See Me in Quick Add</li>
      </ul>

      <span class="heading">MORE INFORMATION</span>
      <ul>
        <li style="color:gray">Support</li>
        <li style="color:gray">Privacy Policy</li>
        <li style="color:gray">Terms of Service</li>
        <li style="color:gray">Licenses</li>
      </ul>

      <span class="heading">ACCOUNT ACTIONS</span>
      <ul>
        <li style="color:gray">Clear Cache</li>
        <li style="color:gray">Clear Conversations</li>
        <li style="color:gray">Restore Purchases</li>
        <li style="color:gray">Blocked</li>
        <li ng-click="logout()">Log Out<button class="forward-btn">></button></li>
      </ul>
    </ion-content>
</ion-view>
