#email-view .nav-top-heading {
  color: #00A686;
  text-align: center;
  padding: 18px;
  border-bottom: thin solid rgba(150, 150, 150, 0.3);
  background-color: white;
}
#email-view .heading {
  display: flex;
  align-items: center;
  background-color: rgba(244, 244, 244, 1);
  padding-left: 14px;
  width: 100vw;
  height: 34px;
  border-bottom: thin solid rgba(150, 150, 150, 0.3);
  color: #00A686;
  margin-left: 0px;
}
#email-view__back-btn {
  z-index: 1;
  color: #00A686;
}
#email-text {
  color: rgba(150, 150, 150, 1);
  margin: 10px 0px;
  font-size: 0.7rem;
  line-height: 0.9rem;
  background-color: white;
  width: 100%;
}
#email-warning {
  text-align: center;
  color: rgba(150, 150, 150, 1);
  margin: 18px 10vw;
  font-size: 0.7rem;
  line-height: 0.9rem;
}

#email-view {
  background-color: rgba(240, 240, 240, 1);
}

#email-input {
  background-color: white;
  height: 50px;
  width: 100%;
  font-size: 1.2rem;
  color: rgba(50, 50, 50, 1);
  padding-left: 15px;
  display: flex;
  align-items: center;
}

#email-continue-button {
  position: relative;
  left: 0
}
