<ion-view title="Send To…" id="send-to-view">

  <ion-content>

      <nav id="send-to-view__top-nav">
        <button ui-sref="editMessage" id="send-to-view_back-btn" class="back-btn" ng-click="showMenu()"><</button>
        Send To…
      </nav>

      <form id="send-to-view__form">
          <span class="magnifying-glass"></span>
          <input type="text" placeholder="Search" ng-model="friendsList">
      </form>

      <!-- We may do the Best Friends section as a feature. For now, it is hard-coded (which is nice for tests). -->
      <p class="heading">BEST FRIENDS</p>
      <ul ng-repeat="bestie in besties | filter: friendsList">
        <li>
          <label><span class="friend-name">{{bestie}}</span><input class="blue-checkbox" type="checkbox" ng-click="selectRecipients(); showSendBar()" /></label>
        </li>
      </ul>

      <p class="heading">FRIENDS</p>
      <p class="send-to-text">Send a Snap directly to friends.</p>
      <ul ng-repeat="friend in friends | filter: {username: friendsList}">
        <li>
          <label><span class="friend-name">{{friend.username}}</span><input class="blue-checkbox" type="checkbox" ng-click="selectRecipients()"/></label>
        </li>
      </ul>

      <!-- Send Bar -->
      <section id="send-to-view__send-bar">
        <div class="recipient-list">
          <span class="recipient" ng-repeat="recipient in recipients track by $index">{{recipient}}</span>
        </div>
        <!-- <span>{{$rootScope.userInfo.username}}</span> -->
        <div id="send-to-view__arrow-btn" ng-click="send()"></div>
      </section>

  </ion-content>

</ion-view>
