<ion-view title="Sign Up" id="sign-up-view">
    <ion-content>

      <nav>
        <button ui-sref="logInSignUp" id="sign-up-view-back-btn" class="back-btn"><</button>
      </nav>

      <div id="sign-up-view__form">
        <h3>What's your name?</h3>
        <div>
          <p class="heading">FIRST NAME</p>
          <input class="input" />
        </div>
        <div>
          <p class="heading">LAST NAME</p>
          <input class="input" />
        </div>
        <p id="sign-up-view__terms">
          By tapping Sign Up & Accept, you agree to the <span class="text-link">Terms of Service</span> and <span class="text-link">Privacy Policy</span>.
        </p>
        <button id="sign-up-view__sign-up-btn" class="btn pill-btn" ui-sref="camera" animate-profile-nav ng-click="showMenu(); removeProfileNav()">Sign Up & Accept</button>
      </div>

      <div id="sign-up-view__keyboard"></div>

    </ion-content>
</ion-view>
