<ion-view id="newPassword-view">
    <ion-content>
      <nav>
        <button ui-sref="password" id="newPassword-view__back-btn" class="back-btn"><</button>
        <div class="nav-top-heading">New Password</div>
      </nav>

      <div id="newPassword-warning">
        Please choose a new password. Strong <br> passwords use a combination of lowercase <br> and uppercase letters, numbers, and symbols.
      </div>
      <input id="newPassword-input" type="password" name="name" value="" placeholder="New Password" ng-model="newPassword" />
      <input id="newPassword-input" type="password" name="name" value="" placeholder="Confirm Password" ng-model="confirmPassword" />
    </ion-content>
</ion-view>
