<ion-view id="password-view">
    <ion-content>
      <nav>
        <button ui-sref="settings" id="password-view__back-btn" class="back-btn"><</button>
        <div class="nav-top-heading">Password</div>
      </nav>

      <div id="password-warning">
        To set a new password, please enter your <br> current password first.
      </div>
      <input id="password-input" type="password" name="name" value="" placeholder="Password" ng-model="password" ng-keyup="showContinueButton(password)"/>
      <button id="password-button" type="button" name="button">Forgot your password?</button>
    </ion-content>

    <button id="continue-button" type="button" name="button" ng-show="continueButton" ng-click="verifyPassword(password)">CONTINUE</button>

</ion-view>
