<!DOCTYPE html>
<html ng-app="snapchat">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' http://localhost:8100 ws://localhost:35729 data: gap: https://ssl.gstatic.com; style-src 'self' 'unsafe-inline'; media-src *;script-src 'self' localhost:35729 'unsafe-eval' 'unsafe-inline';"> -->
    <title>Snapchat</title>
    <link rel="manifest" href="manifest.json">
    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="./main.css" rel="stylesheet">

    <!-- If using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="./app/ng-cordova.min.js"></script>
    <script src="https://cdn.jsdelivr.net/satellizer/0.15.5/satellizer.js"></script>

    <script src="app/app.js"></script>
    <script src="app/mainCtrl.js"></script>
    <script src="app/services/mainService.js"></script>
    <script src="app/services/tempService.js"></script>
    <script src="app/directives/animateChattyNav.js"></script>
    <script src="app/directives/animateProfileNav.js"></script>

    <script src="app/components/addedMe/addedMeCtrl.js"></script>
    <script src="app/components/addFriends/addFriendsCtrl.js"></script>
    <script src="app/components/addUsername/addUsernameCtrl.js"></script>
    <script src="app/components/birthday/birthdayCtrl.js"></script>
    <script src="app/components/camera/cameraCtrl.js"></script>
    <script src="app/components/chat/chatCtrl.js"></script>
    <script src="app/components/editMessage/editMessageCtrl.js"></script>
    <script src="app/components/email/emailCtrl.js"></script>
    <script src="app/components/logIn/logInCtrl.js"></script>
    <script src="app/components/logInSignUp/logInSignUpCtrl.js"></script>
    <script src="app/components/myFriends/myFriendsCtrl.js"></script>
    <!-- <script src="app/components/nav/navCtrl.js"></script> -->
    <script src="app/components/editMessage/editMessageCtrl.js"></script>
    <script src="app/components/name/nameCtrl.js" charset="utf-8"></script>
    <script src="app/components/password/passwordCtrl.js"></script>
    <script src="app/components/newPassword/newPasswordCtrl.js" charset="utf-8"></script>
    <script src="app/components/profile/profileCtrl.js"></script>
    <script src="app/components/sendTo/sendToCtrl.js"></script>
    <script src="app/components/settings/settingsCtrl.js"></script>
    <script src="app/components/signUp/signUpCtrl.js"></script>
    <script src="app/components/signUp/signUp-email/signUp-emailCtrl.js" charset="utf-8"></script>
    <script src="app/components/signUp/signUp-password/signUp-passwordCtrl.js" charset="utf-8"></script>
    <script src="app/components/signUp/signUp-username/signUp-usernameCtrl.js" charset="utf-8"></script>
    <script src="app/components/watchMessages/watchMessagesCtrl.js"></script>

    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>


  </head>
  <!-- <body ng-controller="mainCtrl" animation="slide-left-right-ios7"> -->
  <body ng-controller="mainCtrl" class="fullscreen">
    <!-- <ion-nav-bar></ion-nav-bar> -->
    <ion-nav-view hide-nav-bar="true"></ion-nav-view>
    <!-- <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
      <ion-content></ion-content>
    </ion-pane> -->


    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>
      BOTTOM NAV (originally in cameraCtrl)
        animateProfileNav directive alters bottom nav on view change
        in views other than Camera, Camera button switches views and removes animateProfileNav changes
        in Camera view, Camera button brings up camera
    <~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <nav id="index-html__nav-bottom" class="nav-bottom">
      <button id="index-html__chat-btn" class="icon-btn" ui-sref="chat" animate-chatty-nav="" ng-click="addChattyNav()"></button>
      <button id="index-html__take-photo-btn" class="icon-btn" ui-sref="camera" ng-click="takePhoto(); removeChattyNav(); removeProfileNav()" animate-chatty-nav="" animate-profile-nav=""></button>
      <button id="index-html__dots-btn" class="icon-btn"></button>
    </nav>


  </body>
</html>
