<ion-view title="Add Friends" id="add-friends-view">

  <ion-content>

    <nav>
      <button ui-sref="profile" id="add-friends-view_back-btn" class="back-btn"><</button>
      Add Friends
    </nav>

    <ul>
      <li>
        <p id="add-by-username" class="add-friends-view__add-option">Add by Username<button ui-sref="addUsername" class="forward-btn">></button></p>
      </li>
      <li>
        <p id="add-from-contacts" class="add-friends-view__add-option" style="color:gray">Add from Contacts</p>
      </li>
      <li>
        <p id="add-by-snapcode" class="add-friends-view__add-option" style="color:gray">Add by Snapcode</p>
      </li>
      <li>
        <p id="add-nearby" class="add-friends-view__add-option" style="color:gray">Add Nearby</p>
      </li>
      <li>
        <p id="share-username" class="add-friends-view__add-option" style="color:gray">Share Username</p>
      </li>

    </ul>

  </ion-content>

</ion-view>
