<ion-view title="Add Friends" id="page9">
    <ion-nav-buttons side="left" class="has-header">
        <button class="button icon ion-ios-arrow-back"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-list id="addFriends-list1">
            <ion-item class="item-icon-left item-icon-right" id="addFriends-list-item8" ui-sref="addUsername">
                <i class="icon ion-ios-search"></i>Add by Username
                <i class="icon ion-ios-arrow-forward icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" id="addFriends-list-item9">
                <i class="icon ion-iphone"></i>Add from Contacts
                <i class="icon ion-ios-arrow-forward icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" id="addFriends-list-item10">
                <i class="icon ion-social-snapchat"></i>Add by Snapcode
                <i class="icon ion-ios-arrow-forward icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" id="addFriends-list-item11">
                <i class="icon ion-wifi"></i>Add Nearby
                <i class="icon ion-ios-arrow-forward icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" id="addFriends-list-item12">
                <i class="icon ion-share"></i>Share Username
                <i class="icon ion-ios-arrow-forward icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>