<ion-view title="Log In" id="log-in-view">
    <ion-content>

      <nav>
        <button ui-sref="logInSignUp" id="log-in-view-back-btn" class="back-btn"><</button>
      </nav>


      <div id="log-in-view__form">
        <h3>Log In</h3>
        <div>
          <p class="heading">USERNAME OR EMAIL</p>
          <input class="input" ng-model="email"/>
        </div>
        <div>
          <p class="heading">PASSWORD</p>
          <input class="input" ng-model="password"/>
        </div>
        <p id="forgot-your-password" class="text-link">
          Forgot your password?
        </p>
        <button id="log-in-view__log-in-btn" class="btn pill-btn" animate-profile-nav ng-click="showMenu(); removeProfileNav(); login(email, password)">Log In</button>
      </div>

      <div id="log-in-view__keyboard"></div>

    </ion-content>
</ion-view>
